<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>_P0W:Tickertape Scrapping</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <style>
        .entry {
            height: 20px;
            border-radius: 2px;
        }
    </style>
</head>

<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


    <div class="container">
        <h2>Stock bullishness by Analysts</h2>
        <p>Stock recomendations as collected from <a href="https://tickertape.in">tickertape.in</a> </p>
        <label for="stockCount">Max Entries:</label> <input type="text" id="stockCount"  class ='entry' value="15">
        <label for="stocksDB">Choose a Database:</label>
        <select name="stocksDB" id="stocksDB" class='entry'>
            <option value="stocksLargeCap">Nifty Index 50</option>
            <option value="stocksMidCap">Nifty Midcap 150</option>
        </select>
        <label for="showCount"> Current Count:</label> <span id="showCount">15</span>
        <table class="table table-hover table-condensed table-responsive">
            <thead>
                <tr>
                    <th>Stock Name</th>
                    <th>Sector</th>
                    <th>No. of Analysts</th>
                    <th>Buy Recomendations</th>
                </tr>
            </thead>
            <tbody id='main-table'>
            </tbody>
        </table>
    </div>

    <script>
        var spinner = document.getElementById('stockCount');
        var stocksDB = document.getElementById('stocksDB');
        var showCount = document.getElementById('showCount');
        spinner.addEventListener('input', (evt) => {
            inputChange();
        });

        stocksDB.addEventListener('input', (evt) => {
            inputChange();
        });

        function inputChange() {
            var stocksDBVal = stocksDB.value;
            var stockCount = parseInt(spinner.value, 10);
            var obj = { 'stocksDBVal': stocksDBVal, 'stockCount': stockCount };
            var myJSON = JSON.stringify(obj);
            fetch("/MoreData/" + myJSON)
                .then(response => response.json())
                .then((tableData) => {
                    var tableDom = document.getElementById('main-table');
                    Array.from(tableDom.rows).forEach(row => {
                        tableDom.removeChild(row);
                    })
                    populateTable(tableData.chart_data);
                    showCount.innerHTML = tableData.chart_data.length;
                })
                .catch(() => { });
        }

        function populateTable(tableData) {
            var tableDom = document.getElementById('main-table');
            tableData.forEach((element, index) => {
                var tr = document.createElement("tr");
                tr.classList.add(index % 2 == 0 ? 'success' : 'info');
                var td1 = document.createElement("td");
                td1.innerHTML = element.stockName;
                var td2 = document.createElement("td");
                td2.innerHTML = element.stockSector;
                var td3 = document.createElement("td");
                td3.innerHTML = Math.ceil(0.01 * element.analystCount * element.analystRec) + ' out of ' + element.analystCount;
                var td4 = document.createElement("td");
                td4.innerHTML = element.analystRec + '%';
                tr.appendChild(td1);
                tr.appendChild(td2);
                tr.appendChild(td3);
                tr.appendChild(td4);
                tableDom.append(tr);
            });
        }
        var tableData = {{ data.chart_data | safe }};
        populateTable(tableData);
    </script>
</body>

</html>