<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<script>

    var ws = new WebSocket("ws://0.0.0.0:5001");
    ws.onmessage = (event) => {

        var info = JSON.parse(event.data);
        var element = document.getElementById("info");
        element.innerHTML = JSON.stringify(info);
    };


</script>

<body>
    <div id="info"></div>
</body>

</html>